body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Varela',sans-serif;
    background: black;
}

.middle{
    position: absolute;
    top: 30%;
    left: 33%;
    transform: translate(-50%,-50%);
}

.glitch{
    color: ghostwhite;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
    letter-spacing: 14px;
}

.glitch::before,.glitch::after{
    content: attr(data-text);
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: -1;
}

.glitch::before{
    color: #ff00C1;
    animation: glitch-effect 1s infinite;
}

.glitch::before{
    color: #3498DB;
    animation: glitch-effect 1s infinite;
}

@keyframes glitch-effect{
    0%{
        left: -3px;
        top: -2px;
    }
    25%{
        left: 3px;
        top: 1px;
    }
    50%{
        left: -4px;
        top: 2px;
    }
    75%{
        left: 4px;
        top: -2px;
    }
    100%{
        left: 1px;
        top: -2px;
    }
}
