body{
  background-image: url("https://st.depositphotos.com/3008028/3749/i/950/depositphotos_37493071-stock-photo-abstract-grey-background.jpg");
}
h1{
  text-align: center;
  color:black;
  font-family: 'Fira Code', monospace;
  margin-top: 50px;
}
#head{
  margin-top: 120px;
}
.maindiv{
  width: 70%;
  height: 350px;
  border: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-image: url("img1.jpg");
  background-size: 100% 100%;
  box-shadow : 1px 2px 10px 10px white;
  animation: slider 9s infinite linear;
}
@keyframes slider {
  0%{
    background-image: url("img1.jpg");
  }
  35%{
    background-image: url("img2.jpg");
  }
  75%{
    background-image: url("img3.jpg");
  }
}
 #sticky-footer{
    margin-bottom: 0%;
    margin-top: 50em;
    padding-bottom: 0%;
    position: relative;
}
