html{
    min-height: 100%;
    oveflow:hidden;

}

body{
    height:calc(100vh - 8em);
    padding; 4em;
    color: greenyellow;
    font-family: 'Anonymous Pro' , monospace;
    background: rgb(25,25,25);


}

.line{
    position: relative;
    top: 50%;
    width: 16em;
    display:
    margin: 0 auto;    border-right: 2px solid rgba(255,255,255,0.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: transalateY(-50%);
    box-shadow: 0 2px 4px 3px;
}

/*Animation*/

.anim-typewriter{
    animation: typewriter 4s steps(50) 1s 1 normal both,
        blinkTextCursor 500ms steps(50) infinite normal;
}

@keyframes typewriter{
    from {
        width: 0;

    }
    to {
        width: 16em;

    }
}
    @keyframes blinkTextCursor {
        from{
            border-right-color: rgba(255, 255, 255, 0.8);
        }

            to{
                border-right-color: transparent;
            }
        }

}
